---
---

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.1875rem;   /* 19px */
  line-height: 1.5;
  margin-bottom: 1em;
}

// .govuk-heading-xl {
//   font-size: 3rem;        /* 48px */
//   line-height: 1.125;
//   margin-bottom: 0.5em;
// }
// .govuk-heading-l {
//   font-size: 2rem;        /* 32px */
//   line-height: 1.25;
//   margin-bottom: 0.5em;
// }
// .govuk-heading-m {
//   font-size: 1.5rem;      /* 24px */
//   line-height: 1.25;
//   margin-bottom: 0.5em;
// }
// .govuk-heading-s,
// .govuk-body {

// }

.page-content {
  // margin-left: 10%;
  // margin-right: 10%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.header {
  padding: 16px;
  text-align: left;
  background: #333;
  color: white;
}

.header img {
  float: left;
  padding: 16px;
  width: 100px;
  height: 100px;
}

/* Navbar */
.topnav {
  display: flex;
  background-color: #333;
  position: relative;
  width: 100%;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropbtn {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
  /* Ensure dropbtn doesn't disappear when hovering over dropdown-content */
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #444;
  min-width: 160px;
  z-index: 1000;
}

.dropdown-content a {
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #04AA6D;
  color: white;
}

/* Show the dropdown menu on hover of dropdown OR dropbtn */
.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}

/* Highlight dropbtn when dropdown is hovered */
.dropdown:hover .dropbtn,
.dropdown:focus-within .dropbtn {
  background-color: #04AA6D;
  color: white;
}
