---
---

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.1875rem;   /* 19px */
  line-height: 1.5;
  margin-bottom: 1em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 20px; /* Indent bullets/numbers */
}

li {
  margin-bottom: 5px; /* Space between items */
}

.page-content {
  // margin-left: 10%;
  // margin-right: 10%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  padding-top: 60px;
}

.header {
  padding: 16px;
  text-align: left;
  background: #333;
  color: white;
}

.header img {
  float: left;
  padding: 16px;
  width: 100px;
  height: 100px;
}

.header h1 a {
  color: white;
  text-decoration:none;
}

.topnav {
  display: flex;
  background-color: #333; /* Bar color */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Navbar links */
.topnav a, .dropdown .dropbtn {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  background: none;
  cursor: pointer;
}

/* Change color on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #04AA6D; /* Highlight color */
  color: white;
}

/* Active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Dropdown container */
.dropdown {
  position: relative; 
}

/* Dropdown button */
.dropdown .dropbtn {
  outline: none;
  display: block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #444;
  min-width: 160px;
  z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add hover to dropdown links */
.dropdown-content a:hover {
  background-color: #04AA6D;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}

/* Highlight dropbtn when dropdown is hovered */
.dropdown:hover .dropbtn,
.dropdown:focus-within .dropbtn {
  background-color: #04AA6D;
  color: white;
}

/* Block display */
  .block {
  display: block;
  width: 100%;
  height: 150px;
  border: solid black;
  background-color: #04AA6D;
  color: white;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

  .block2{
  display: block;
  width: 100%;
  height: 150px;
  border: solid black;
  background: repeating-linear-gradient(
    135deg,
    red,
    red 10px,
    white 10px,
    white 20px
  );
  color: black;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block2:hover {
  background-color: ddd;
  color: black;
}
