<script
src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0">
</script>
<script type="text/javascript" src="/js/grid.js"></script>

<div style="border: 1px solid black; margin: 10px 0px;">
    <canvas id="gridintensity" style= "width:50%; max-width:700px">
    </canvas>
    <p>Current carbon intensity of a kWh of electricity: <span id="intensity"></span> kg CO2e</p>
    <p>Current carbon intensity of a mile's electricity in a car of efficiency 4 miles/kWh:
    <span id="intensity_per_mile"></span> kg CO2e</p>
    <p>This compares with tailpipe emissions of a mile's petrol in a car of efficiency 10 miles/l: 0.23 kg CO2e</p>
    <p>So, roughly speaking, a mile in an electric car could have a lower carbon footprint than a mile in an electric car by a factor of <span id="factor"></span>.</p>
    <p>Source: <a href="https://carbonintensity.org.uk/">https://carbonintensity.org.uk/</a>.</p>
</div>