<script
src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0">
</script>
<script type="text/javascript" src="/js/grid.js"></script>

<div style="border: 1px solid black; margin: 10px 0px;">
    <canvas id="gridintensity" style= "width:50%; max-width:700px">
    </canvas>
    <p>Current carbon intensity of a kWh of electricity: <span id="intensity"></span> kg CO2e</p>
    <p>Current carbon intensity of a mile's electricity in a car of efficiency 4 miles/kWh:
    <span id="intensity_per_mile"></span> kg CO2e</p>
    <p>This compares with tailpipe emissions of a mile's average petrol in a car of efficiency 10 miles/l: <strong>0.207</strong> kg CO2e</p>
    <p>So, roughly speaking, a mile in an electric car plugged in right now could have a carbon footprint <span id="factor"></span> times smaller than a mile in a petrol car.</p>
    <p>Sources: Grid generation mix and carbon intensity from <a href="https://carbonintensity.org.uk/">https://carbonintensity.org.uk/</a>, carbon footprint of a litre of "petrol (average biofuel blend)" from <a href="https://www.gov.uk/government/publications/greenhouse-gas-reporting-conversion-factors-2025">DESNZ</a>. Car efficiencies (miles/kWh, miles/l) are arbitrary values within the considerable <a href="/what-is-a-watt/energy">range of efficiencies</a>.</p>
</div>