<header>
<div class="header">
    <img src="/logo.png" alt="logo" />
<h1>EVinfrastructure•co•uk</h1>
<h2>Putting you in charge of charging</h2>
</div>
<nav class="topnav">
    <a href="/">Home</a>
        <div class="dropdown">
        <a href="/home-charging" class="dropbtn">Home Charging ▼</a>
        <div class="dropdown-content">
          <a href="/home-charging/driveway-divide.html">The Driveway Divide</a>
          <a href="/home-charging/pavement-channels.html">Pavement Channels</a>
          <a href="/home-charging/tariffs.html">Tariffs</a>
          <a href="/home-charging/grants.html">Grants</a>
        </div>
        </div>
 <div class="dropdown">
        <a href="/public-charging" class="dropbtn">Public Charging ▼</a>
        <div class="dropdown-content">
          <a href="/public-charging/tariffs.html">Tariffs</a>
          <a href="/public-charging/regulations.html">Regulations</a>
          <a href="/public-charging/pas-1899.html">PAS 1899</a>
        </div>
        </div>
      <a href="/government-and-EVI">Government and EVI</a>
      <a href="/what-is-a-watt">What is a Watt?</a>
      <a href="/sustainable-travel">Sustainable Travel</a>
     <a href="/about">About</a>
</nav>
</header>
