<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Putting you in charge of charging. This website aims to democratise information about charging EVs in the UK. The world of EV charging is arcane. However, the challenge is too important for people to feel lost when it comes to charging their car, understanding developments in EVI, and representing their position to policymakers.">
<title>{{ page.title }} &#8211; EVinfrastructure.co.uk</title>
<link rel="stylesheet" href="/css/granola.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Emoji">
</head>
