<header>
<div class="header">
    <a href="/">
    <img src="/logo.png" alt="logo" />
    </a>
<h1><a href="/">EVinfrastructure•co•uk</a></h1>
<h2>Putting you in charge of charging</h2>
</div>
<nav class="topnav" id="topnav">
    <a href="/">Home</a>
        <div class="dropdown">
        <a href="/home-charging" class="dropbtn">Home Charging ▼</a>
        <div class="dropdown-content">
          <a href="/home-charging/tariffs">Tariffs</a>
          <a href="/home-charging/chargers">Chargers</a>
          <a href="/home-charging/grants">Grants</a>
          <a href="/home-charging/driveway-divide">The Driveway Divide</a>
          <a href="/home-charging/pavement-channels">Pavement Channels</a>
        </div>
        </div>
 <div class="dropdown">
        <a href="/public-charging" class="dropbtn">Public Charging ▼</a>
        <div class="dropdown-content">
          <a href="/public-charging/tariffs">Tariffs</a>
          <a href="/public-charging/requesting-chargepoints">Requesting Chargepoints</a>
          <a href="/public-charging/regulations">Regulations</a>
          <a href="/public-charging/pas-1899">PAS 1899</a>
        </div>
        </div>
 <div class="dropdown">
        <a href="/government-and-EVI" class="dropbtn">Government and EVI ▼</a>
        <div class="dropdown-content">
          <a href="/government-and-EVI/national-government">National Government</a>
          <a href="/government-and-EVI/local-government">Local Government</a>
        <a href="/government-and-EVI/funding-public-chargepoints">Funding Public Chargepoints</a>
          <a href="/government-and-EVI/scotland">Scotland</a>
          <a href="/government-and-EVI/wales">Wales</a>
          <a href="/government-and-EVI/ni">Northern Ireland</a>
          <a href="/government-and-EVI/reports">Reports</a>
        </div>
        </div>
 <div class="dropdown">
        <a href="/what-is-a-watt" class="dropbtn">What is a Watt? ▼</a>
        <div class="dropdown-content">
          <a href="/what-is-a-watt/energy">Energy</a>
          <a href="/what-is-a-watt/power-and-connectors">Power and Connectors</a>
          <a href="/what-is-a-watt/earthing">Earthing</a>
          <a href="/what-is-a-watt/A-Z">The A-Z of EVI</a>
        </div>
        </div>
 <div class="dropdown">
        <a href="/sustainable-travel" class="dropbtn">Sustainable Travel ▼</a>
        <div class="dropdown-content">
          <a href="/sustainable-travel/climate-change">EVs and Climate Change</a>
          <a href="/sustainable-travel/v2g">Vehicle to Grid</a>
        </div>
        </div>
     <a href="/about">About</a>
<!-- Menu button for mobile -->
<a href="javascript:void(0);" class="icon" onclick="navbarmobile()">
    ≡
  </a>
</nav>
    <script type="text/javascript" src="/js/navbarmobile.js"></script>
</header>
