<header>
<div class="header">
    <img src="/logo.png" alt="logo" />
<h1>EVinfrastructure•co•uk</h1>
<h2>Putting you in charge of charging</h2>
</div>
<nav class="topnav">
    <a href="/">Home</a>
<!--       <a href="/home-charging">Home Charging</a> -->
        <div class="dropdown">
<!--         <button class="dropbtn"><a href="/home-charging">Home Charging ▼</a></button> -->
        <button class="dropbtn">Home Charging ▼</button>
        <div class="dropdown-content">
          <a href="/home-charging/driveway-divide.html">The Driveway Divide</a>
          <a href="/home-charging/pavement-channels.html">Pavement Channels</a>
          <a href="/home-charging/tariffs.html">Tariffs</a>
        </div>
        </div>
      <a href="/public-charging">Public Charging</a>      
      <a href="/government-and-EVI">Government and EVI</a>
      <a href="/what-is-a-watt">What is a Watt?</a>
      <a href="/sustainable-travel">Sustainable Travel</a>
     <a href="/about">About</a>
</nav>
</header>
