<div style="margin: 20px 20px 20px 0;">
<form style="display: inline-block" id="postcode__form">
  <input type="text" id="postcode" placeholder="Enter postcode" />
  <button type="submit">Search</button>
</form>
   or  
<select style="display: inline-block" id="authority_select" onchange="authority_page()">
  <option selected>Select authority from list</option>
</select>
<div id="result"></div>

<script type="text/javascript" src="/js/postcode-to-page.js"></script>
<script type="text/javascript" src="/js/populate-authority-list.js"></script>
</div>