<div style="border: 1px solid black; margin: 10px 0px;">
  <h3 style="text-align: center; margin:0%">Mosaic Diagram: UK households by driveway and car type (2024)</h3>
  <div style="width: 100%; height: 500px; font-size: 1rem;">
    <div style ="height: 66.599%; margin-bottom: 0.9%;">
      <div style = "width: 14.099%; height: 100%; background-color: darkgreen; float: left; writing-mode: vertical-rl; color: white;">
        Driveway, no car, 9.7%
      </div>
      <div style = "width: 78.699%; height: 100%; background-color: red; float: right;">
        Driveway
        <br>fuel only
        <br>54.0%
      </div>
      <div style = "width: 5.299%; height: 100%; background-color: #04AA6D; float: left; margin: 0% 0.9%; writing-mode: vertical-rl; line-height: 1; color: white;">
        Driveway, EV, 3.6%
      </div>
    </div>
    <div style = "height: 32.399%;">
      <div style = "width: 40.499%; height: 100%; background-color: darkgreen; float: left; color: white;">
        No driveway<br>
        no car<br>
        13.5%
      </div>
      <div style = "width: 54.599%; height: 100%; background-color: red; float: right;">
        No driveway
        <br>fuel only
        <br>18.2%
      </div>
      <div style = "width: 2.899%; height: 100%; background-color: #04AA6D; float: left; margin: 0% 0.9%; writing-mode: vertical-rl; line-height: 1; color: white;">
        No driveway, EV, 1.0%
      </div>
    </div>
  </div>
  Percentages of 28.4m UK households. These are rough estimates.
  <br><a href="/what-is-a-watt/transition">Sources</a>
</div>