---
layout: default
title: "Funding Public Chargepoints"
---

<h1>Funding Public Chargepoints</h1>
        <p>The Office for Zero Emission Vehicles (OZEV, formerly OLEV for <i>Low</i> Emission Vehicles) have funded several schemes for public chargepoints. This page gives more details on how they work and how they can be benefit you.</p>
        <p>Some OZEV public charging schemes were open to the whole of the UK. However, the ongoing Local Electric Vehicle Infrastructure scheme is only for England. This page refers to schemes in Scotland and Wales, but more information is available on our <a href="/government/scotland">Scotland</a> and <a href="/government/wales">Wales</a> pages.</p>
        <p>For information on grant schemes for home chargers, please see our <a href="/home-charging/grants">home charging grants</a> page.</p>
        <p>For information on local implementation of the below programmes, please find your local authority below:</p>
        <div>
        {% include postcode-search.html %}
        <p>Alternatively, check this map:</p>
        {% include map-levi.html %}
                </div>

<h4>Contents</h4>
  <ul>
      <li><a href="#levi">Local Electric Vehicle Infrastructure (LEVI, 2022-present, England)</a></li>
      <li><a href="#evif">Electric Vehicle Infrastructure Fund (EVIF, 2022-present, Scotland)</a></li>
      <li><a href="#riif">Rural and Island Infrastructure Fund (RIIF, 2025-present, Scotland)</a></li>
      <li><a href="#ulevtf">Ultra low emission vehicle transformation fund (ULEVTF, 2021-present, Wales)</a></li>
      <li><a href="#orcs">On-street Residential Chargepoint Scheme (ORCS, 2017-2024, UK-wide)</a></li>
      <li><a href="#cps">ChargePlace Scotland (CPS, 2013-2025, Scotland)</a></li>
      <li><a href="#rcf">Rapid Charging Fund (RCF, 2023 pilot, now scrapped, UK-wide)</a></li>
      <li><a href="#gulcs">Go Ultra Low City Scheme (2015, England)</a></li>
      <li><a href="#residential">Residential on-street chargepoint grant scheme (2013-2015, UK-wide)</a>
      <li><a href="#pip">Plugged-in-Places (2010-2013, England)</a>
    </ul>
  <h2 id="levi">Local Electric Vehicle Infrastructure (LEVI, 2022-present, England)</h2>
           <p>LEVI is England's flagship programme for near-home public charging, with £381m of capital funding for new chargepoints across the country. OZEV transfers this funding to highway authorities, who then set up tenders for the contract in their area.</p>
            <p>It is understood that LEVI will be the last government grant for near-home public chargepoints for some time, however there is no deadline on when your highway authority might spend their LEVI fund. It could go towards new chargepoint installations for years to come.</p>
            <p>To see how much your highway authority has received under LEVI, and how it is spending it, please enter your postcode at the top of the page, or use the map.</p>
  <div style="max-width: 100%; overflow-x: auto;">
    <table class="table">
    <thead>
      <tr>
      <th></th>
      <th>LEVI (2022-present)</th>
    </tr>
   </thead>
  <tbody>
    <tr>
      <th>Region of scheme</th>
      <td>England only</td>
    </tr>
    <tr>
      <th>Authority which receives funding and administers rollout</th>
      <td>LEVI funding goes to the highway authority (which is the county council in two-tier areas, and the unitary authority in unitary areas).</td>
    </tr>
    <tr>
      <th>Determination of funding</th>
      <td>OZEV determined LEVI funding for each highway authority in 2023. They used <a href="https://www.gov.uk/government/publications/local-ev-infrastructure-levi-funding-amounts/local-electric-vehicle-infrastructure-levi-funding-allocation-methodology">this methodology</a>. Highway authorities do not have the option to reject LEVI funding or change the capital value.</td>
    </tr>
    <tr>
      <th>Breakdown of spend</th>
      <td>The LEVI capital funding is of a fixed nature and contributes towards a portfolio of chargepoints - the more, the better. It is not possible to discern the percentage contribution of the LEVI fund on a chargepoint-by-chargepoint basis. The percentage contribution of the LEVI fund to a highway authority's portfolio will vary across the country.</td>
    </tr>
    <tr>
      <th>Total funding across England</th>
      <td>£381m</td>
    </tr>
    <tr>
      <th>Number of charging devices</th>
      <td><a href="https://www.gov.uk/government/news/charging-into-the-future-government-set-to-deliver-over-100000-more-ev-chargepoints">Hoped</a> to be over 100,000.</td>
    </tr>
  </tbody>
  </table>
  </div>
  <p>Before the main LEVI programme, a pilot took place from August 2022. It was extended in March 2023.</p>
  <p>The LEVI pilot saw significant taxpayer funding - around £32m. It involved authorities from many different parts of England (see below). For a map of authorities involved in the pilot, and further details, please visit <a href="https://energysavingtrust.org.uk/local-electric-vehicle-infrastructure-pilot-scheme-expanded/">this page</a> on the pilot's extension by the Energy Saving Trust.</p>
  <p>The pilot was less formulaic than the scheme proper. Authorities did not have to set up tenders in the same way, and many pilot projects focussed on single-site projects or innovations such as accessible charging and on-site solar generation, rather than prioritising scale across the whole authority as in the main LEVI scheme.</p>
  <div style="max-width: 100%; overflow-x: auto;">
    <table class="table">
    <thead>
      <tr>
      <th>Authority</th>
      <th style="text-align: right;">August 2022 funding<br>(Source: <a href="https://edemocracy.northyorks.gov.uk/documents/s14860/Local%20Electric%20Vehicle%20Infrastructure%20LEVI%20Acceptance%20of%20Grant.pdf">North Yorkshire Council</a>)</th>
      <th style="text-align: right;">February 2023 funding<br>(Source: <a href="https://barnet.moderngov.co.uk/documents/s80972/230315%20LB%20Barnet%20Extended%20Pilot%20S31%20Grant%20Determination.pdf">London Borough of Barnet</a>)</th>
      <th style="text-align: right;">Total funding</th>
    </tr>
   </thead>
  <tbody>
    <tr>
        <td>Dorset Council</td>
        <td style="text-align: right;">£1,020,000</td>
        <td></td>
        <td style="text-align: right;">£1,020,000</td>
    </tr>
    <tr>
        <td>Kent County Council</td>
        <td style="text-align: right;">£350,000</td>
        <td></td>
        <td style="text-align: right;">£350,000</td>
    </tr>
    <tr>
        <td>Lincolshire (First Midlands Connect Consortium)</td>
        <td style="text-align: right;">£948,084</td>
        <td></td>
        <td style="text-align: right;">£948,084</td>
    </tr>
    <tr>
        <td>Nottinghamshire County Council</td>
        <td style="text-align: right;">£774,000</td>
        <td></td>
        <td style="text-align: right;">£774,000</td>
    </tr>
    <tr>
        <td>Suffolk County Council</td>
        <td style="text-align: right;">£1,362,196</td>
        <td></td>
        <td style="text-align: right;">£1,362,196</td>
    </tr>
    <tr>
        <td>Warrington Borough Council</td>
        <td style="text-align: right;">£695,657</td>
        <td></td>
        <td style="text-align: right;">£695,657</td>
    </tr>
    <tr>
        <td>Durham County Council</td>
        <td style="text-align: right;">£1,250,000</td>
        <td style="text-align: right;">£3,125,000</td>
        <td style="text-align: right;">£4,375,000</td>
    </tr>
    <tr>
        <td>London Borough of Barnet</td>
        <td style="text-align: right;">£1,650,000</td>
        <td style="text-align: right;">£427,000</td>
        <td style="text-align: right;">£2,077,000</td>
    </tr>
    <tr>
        <td>North Yorkshire County Council</td>
        <td style="text-align: right;">£2,000,000</td>
        <td style="text-align: right;">£1,237,550</td>
        <td style="text-align: right;">£3,237,550</td>
    </tr>
    <tr>
        <td>West Midlands Combined Authority</td>
        <td></td>
        <td style="text-align: right;">£3,016,582</td>
        <td style="text-align: right;">£3,016,582</td>
    </tr>
    <tr>
        <td>Oxfordshire County Council</td>
        <td></td>
        <td style="text-align: right;">£698,407</td>
        <td style="text-align: right;">£698,407</td>
    </tr>
    <tr>
        <td>Harborough District Council (First Midlands Connect Consortium)</td>
        <td></td>
        <td style="text-align: right;">£1,141,073</td>
        <td style="text-align: right;">£1,141,073</td>
    </tr>
    <tr>
        <td>London Borough of Waltham Forest</td>
        <td></td>
        <td style="text-align: right;">£740,000</td>
        <td style="text-align: right;">£740,000</td>
    </tr>
    <tr>
        <td>West Sussex County Council</td>
        <td></td>
        <td style="text-align: right;">£1,786,464</td>
        <td style="text-align: right;">£1,786,464</td>
    </tr>
    <tr>
        <td>Norfolk County Council</td>
        <td></td>
        <td style="text-align: right;">£1,102,630</td>
        <td style="text-align: right;">£1,102,630</td>
    </tr>
    <tr>
        <td>Lancashire County Council</td>
        <td></td>
        <td style="text-align: right;">£500,000</td>
        <td style="text-align: right;">£500,000</td>
    </tr>
    <tr>
        <td>Sunderland City Council</td>
        <td></td>
        <td style="text-align: right;">£493,568</td>
        <td style="text-align: right;">£493,568</td>
    </tr>
    <tr>
        <td>West Yorkshire Combined Authority</td>
        <td></td>
        <td style="text-align: right;">£1,500,000</td>
        <td style="text-align: right;">£1,500,000</td>
    </tr>
    <tr>
        <td>Warwickshire County Council</td>
        <td></td>
        <td style="text-align: right;">£746,250</td>
        <td style="text-align: right;">£746,250</td>
    </tr>
    <tr>
        <td>Rotherham Metropolitan Borough Council</td>
        <td></td>
        <td style="text-align: right;">£1,290,000</td>
        <td style="text-align: right;">£1,290,000</td>
    </tr>
    <tr>
        <td>City of York</td>
        <td></td>
        <td style="text-align: right;">£1,243,028</td>
        <td style="text-align: right;">£1,243,028</td>
    </tr>
    <tr>
        <td>Buckinghamshire Council</td>
        <td></td>
        <td style="text-align: right;">£70,200</td>
        <td style="text-align: right;">£70,200</td>
    </tr>
    <tr>
        <td>Cumberland Council*</td>
        <td></td>
        <td style="text-align: right;">£703,000</td>
        <td style="text-align: right;">£703,000</td>
    </tr>
    <tr>
        <td>Westmorland and Furness Council*</td>
        <td></td>
        <td style="text-align: right;">£771,000</td>
        <td style="text-align: right;">£771,000</td>
    </tr>
    <tr>
        <td>London Borough of Hounslow</td>
        <td></td>
        <td style="text-align: right;">£837,000</td>
        <td style="text-align: right;">£837,000</td>
    </tr>
    <tr>
        <td>London Borough of Hackney</td>
        <td></td>
        <td style="text-align: right;">£528,500</td>
        <td style="text-align: right;">£528,500</td>
    </tr>
    <tr>
        <th>Total</th>
        <th style="text-align: right;">£10,049,937</th>
        <th style="text-align: right;">£21,957,252</th>
        <th style="text-align: right;">£32,007,189</th>
    </tr>
  </tbody>
  </table>
  </div>
  <p>* Note that Cumberland and Westmorland and Furness' funding was originally allocated to Cumbria County Council, which dissolved in 2023.</p>
  <h2 id="evif">Electric Vehicle Infrastructure Fund (EVIF, 2022-present, Scotland)</h2>
  <p>See more information on our <a href="/government/scotland#evif">Scotland</a> page.</p>
  <h2 id="riif">Rural and Island Infrastructure Fund (RIIF, 2025-present, Scotland)</h2>
  <p>See more information on our <a href="/government/scotland#riif">Scotland</a> page.</p>
  <h2 id="ulevtf">Ultra low emission vehicle transformation fund (ULEVTF, 2021-present, Wales)</h2>
  <p>See more information on our <a href="/government/wales#ulevtf">Wales</a> page.</p>
  <h2 id="orcs">On-street Residential Chargepoint Scheme (ORCS, 2017-2024, UK-wide)</h2>
  <p>The smaller-scale predecessor to LEVI was ORCS. You can also find out information on ORCS schemes in your local area by entering your postcode at the top of the page.</p>
  <div style="max-width: 100%; overflow-x: auto;">
    <table class="table">
    <thead>
      <tr>
      <th></th>
      <th>ORCS (2017-2024)</th>
    </tr>
   </thead>
  <tbody>
    <tr>
      <th>Region of scheme</th>
      <td>Across the UK</td>
    </tr>
    <tr>
      <th>Authority which receives funding and administers rollout</th>
      <td>Any local authority, from large combined authorities down to tiny parish councils, could apply for ORCS funding. (In two-tier areas, ORCS funding and LEVI funding might be administered by different authorities.)</td>
    </tr>
    <tr>
      <th>Determination of funding</th>
      <td>Local authorities applied for ORCS funding based on their own requirements.</td>
    </tr>
    <tr>
      <th>Breakdown of spend</th>
      <td>ORCS funding was applied discretely at 50%, 60%, or 75% of the cost of each chargepoint (the proportion that the government subsidised decreased as the scheme went forward).</td>
    </tr>
    <tr>
      <th>Total funding across England</th>
      <td>Around £81m (adding up total for complete and incomplete projects from <a href="https://www.gov.uk/government/statistics/electric-vehicle-charging-device-grant-scheme-statistics-july-2025">these data</a>)</td>
    </tr>
    <tr>
      <th>Number of charging devices</th>
      <td>Around 21,000 (adding up total for complete and incomplete projects from <a href="https://www.gov.uk/government/statistics/electric-vehicle-charging-device-grant-scheme-statistics-july-2025">these data</a>). Note that this is a substantial proportion of the UK's total 85,000 charging devices (as of August 2025).</td>
    </tr>
  </tbody>
  </table>
  </div>
  <h2 id="cps">ChargePlace Scotland (CPS, 2013-2025, Scotland)</h3>
  <p>See more information on our <a href="/government/scotland#cps">Scotland</a> page.</p>
  <h2 id="rcf">Rapid Charging Fund (RCF, 2023 pilot, now scrapped, UK-wide)</h2>
  <p>The idea of the Rapid Charging Fund was to invest in expensive grid upgrades for en-route charging on motorways and major trunk roads. It never came to fruition.</p>
  <p>In March 2020's <a href="https://www.gov.uk/government/publications/budget-2020-documents/budget-2020">Budget</a>, Boris Johnson's Conservative government announced £500m of investment in electric vehicle infrastructure, which would include a Rapid Charging Fund.</p>
  <p>By November 2020's publication of the <a href="https://assets.publishing.service.gov.uk/media/5fbe11b18fa8f559da0f16b4/NIS_final_print.pdf#page=56">National Infrastructure Strategy</a>, the figure had increased to £950m.</p>
  <p>In July 2021, the Competition and Markets Authority published a <a href="https://www.gov.uk/government/publications/electric-vehicle-charging-market-study-final-report/final-report"></a>study into EV infrastructure in the UK, which welcomed the Rapid Charging Fund. However, it also opened an investigation under the Competition Act 1998 into existing arrangements between the chargepoint operator Electric Highway (now GRIDSERVE) and three motorway service area operators: MOTO, Roadchef, and Extra.</p>
  <p>By March 2022, the investigation had finished and the Competition and Markets Authority had secured <a href="https://www.gov.uk/government/news/cma-unlocks-electric-vehicle-charging-competition-for-motorway-drivers"></a>commitments from GRIDSERVE which would enable the RCF to proceed without worsening monopoly powers.</p>
  <p>In May 2023, OZEV <a href="https://www.gov.uk/cma-cases/referral-for-the-rapid-charging-fund-pilot-scheme-by-the-office-of-zero-emission-vehicles">referred itself</a> to the Subsidy Advice Unit in regard to the Rapid Charging Fund. The <a href="https://www.gov.uk/government/publications/report-on-the-rapid-charging-fund-pilot-scheme">report</a> was published in in June 2023.</p>
  <p>In Winter 2023-24, Rishi Sunak's Conservative government <a href="https://www.gov.uk/government/consultations/rapid-charging-fund-scheme-design/rapid-charging-fund-scheme-design">consulted</a> on how to implement the Rapid Charging Fund. The pilot concluded without making any awards.</p>
  <p>In summer 2025, Keir Starmer's Labour government quietly <a href="https://www.gov.uk/government/publications/electric-vehicle-charging-infrastructure-on-the-strategic-road-network/electric-vehicle-charging-infrastructure-on-the-strategic-road-network">scrapped</a> the RCF, around the same time as announcing £400m for charging in the <a href="https://www.gov.uk/government/publications/spending-review-2025-document/spending-review-2025-html#growth-and-clean-energy">Spending Review</a>.</p>
  <h2 id="gulcs">Go Ultra Low City Scheme (2015, England)</h2>
  <p>The <a href="https://www.gov.uk/government/news/40-million-to-drive-green-car-revolution-across-uk-cities">Go Ultra Low City Scheme</a> consisted of £40m funding, which was split as follows:</p>
  <table class="table">
    <thead>
      <tr>
        <th>City/Area</th>
        <th style="text-align: right;">Funding</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>London</td>
        <td style="text-align: right;">£13m</td>
      </tr>
      <tr>
        <td>Milton Keynes</td>
        <td style="text-align: right;">£9m</td>
      </tr>
      <tr>
        <td>Bristol</td>
        <td style="text-align: right;">£7m</td>
      </tr>
      <tr>
        <td>Nottinghamshire and Derby</td>
        <td style="text-align: right;">£6m</td>
      </tr>
      <tr>
        <td>Dundee, Oxford, York and north east regions</td>
        <td style="text-align: right;">£5m</td>
      </tr>
    </tbody>
  </table>
  <h2 id="residential">Residential on-street chargepoint grant scheme (2013-2015, UK-wide)</h2>
  <p>In 2013, the government <a href="https://www.gov.uk/government/publications/grants-to-provide-residential-on-street-and-rapid-chargepoints-for-plug-in-vehicles-guidance-for-local-authorities">announced</a> a grant scheme which would allow local authorities to install chargepoints based the requests of individual residents.</p>
  <p>While the scheme was not given a catchy acronym, the words "residential on-street chargepoint grant scheme" appear in the documentation, although this scheme under the Cameron Coalition Administration is not to be confused with the On-Street Residential Chargepoint Scheme (ORCS) which came a few years later.</p>
  <p>A <a href="https://www.gov.uk/government/news/new-measures-announced-to-support-the-uptake-of-plug-in-vehicles">press release</a> from February 2013 says that £11m was made available for this scheme and the installation of rapid chargepoints around the strategic road network, and that funding would end in April 2015.</p>
  <h2 id="pip">Plugged-in-Places (2010-2013, UK-wide)</h2>
  <p>Plugged-in-Places was one of the earliest schemes in the UK.</p>
  <p>There were only eight projects, in the following locations: East of England, London, Greater Manchester, the Midlands, Milton Keynes, the North East, Northern Ireland and Scotland.</p>